/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&display=swap');

$background-color: #EAEEF2;
$green: #20352C;
$orange: #AE330C;
$white: #ffffff;
$black: #1D190E;

$main-padding: 5.3125rem 10rem;

$map-height: 770px;

$h1-font: 'Hammersmith One';
$h2-font: 'Hammersmith One';
$h3-font: 'Karla';
$h4-font: 'Karla';
$p-font: 'Karla';


/* —— DESKTOP —— */

body {
    padding: 0;
    margin: 0;
    background-color: $background-color;
}

h1 {
    font-family: $h1-font;
    font-size: 5.75rem;
    text-transform: uppercase;
    color: $white;
    text-shadow: $black 2.5rem;
}

h2 {
    font-family: $h2-font;
    font-size: 3rem;
    text-transform: uppercase;
}

h3 {
    font-family: $h3-font;
    font-size: 1.125rem;
    font-weight: 300;
}

h4 {
    font-family: $h4-font;
    font-size: 1rem;
    font-weight: 400;
}

p {
    font-family: $p-font;
    font-size: .8rem;
    font-weight: 300;
}

li {
    font-family: $p-font;
    font-size: .8rem;
}

a {
    font-family: $h4-font;
    font-size: 1rem;
}

a:hover {
    font-weight: bold;
    font-size-adjust: 1rem;
}

a:visited {
    text-decoration: none;
}

nav a li{
    font-weight: 100;
}

.underlined-nav {
    color: $black;
    text-transform: capitalize;
}

.underlined-greenbg {
    color: $white;
    text-transform: capitalize;
}

/* NAVIGATION */

nav ul{
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    color: $white;
    padding: 1.5rem 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: $white;
}

nav img {
    height: 50px;
    width: auto;
}

.discountcontent {
    width: 100%;
    overflow: hidden;
    background-color: $black;
    color: $white;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: $p-font;
    position: relative;
}

.marquee {
    display: flex;
    white-space: nowrap;
    animation: scroll-loop 30s linear infinite;
}

.marquee span {
    display: inline-block;
    padding-right: 100px;
    font-size: 20px;
    letter-spacing: 1px;
}
  
@keyframes scroll-loop {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* FOOTER */
.footer {
    background-color: $black;
    color: $white;
    display: flex;
    justify-content: center;
    padding: 5rem;
    gap: 2.5rem;
}

.footer-left {
    display: block;
    width: 38.75rem;
    height: auto;
}

.footer-right {
    display: block;

}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    color: $white;
    padding: 1.5rem 0;
    margin: 0;
    gap: 3rem;
}

.social-media {
    display: flex;
    gap: 2.5rem;
}

/* HOME */
    /* HERO */
    #header {
        display: flex;
        justify-content: center;
        background-image: url("../../images/home/mgbd-header.jpg");
        background-size: cover;
        height: 100%;
    }

    .divider-tag{
        font-weight: bold;
        text-transform: capitalize;
        padding: 2rem 0;
        margin: 0;
        display: flex;
        align-items: center;

        &::before {
        content: "";
        width: 6rem;
        height: 1rem;
        background: $orange;
        }

        &.right {
            justify-content: end;

            &::before {
                display: none;
            }

            &::after {
                content: "";
                width: 6rem;
                height: 1rem;
                background: $orange;
            }
        }
    }


    .filled-button {
        background: $orange;
        font-weight: 700;
        color: $white;
        text-decoration: none;
        text-transform: capitalize;
        padding: .5rem;
    }

    .filledbutton, .white {
            color: $black;
            background: $white;
    }

    .underlined-orange {
        color: $orange;
        text-transform: capitalize;
    }

    /* WORKSHOP */

    #workshop {
        padding: $main-padding;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-content: center;
    }

    .workshop-text {
        display:block;
    }

    .workshop-images {
        display: block;
    }

    /* OWNERS */
    .owners {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .owners-image {
        width: 58rem;
        height: auto;
    }

    .owners-text {
        background-color: $green;
        color: $white;
        padding: 2rem 5rem;
    }

    /* SERVICES */
    .ourservices {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-full {
        background-image: url(/images/background-vector-tires.png);
        background-position: center;
        background-size: cover;
    }
    .services-cards {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        justify-content: center;
        gap: 3rem;
    }

    .buyers-section, .services-section{
        padding: $main-padding;
        display: block;
        justify-content: center;
        align-content: center;
    }

    .solo-card {
        background-color: $green;
        color: $white;
        padding: 1rem;
        display: block;
        justify-content: center;
        flex: 0 0 auto;
        width: 250px;
        max-height: 325px;
    }

    .service-image {
        width: 100%;
        max-height: 193px;
        object-fit: cover;
    }

/* SERVICES PAGE */
#header-services {
    background-image: url(/images/services/service-header.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 100%;
}

#customer-favorites {
    padding: $main-padding;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-content: center;
}

.customer-text {
    display: block;

}

.small-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.car-inspections {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-inspections img{
    width: 50%;
}

.carinspection-text {
    display: block;
    max-height: 575px;
    width: auto;
    background-color: $green;
    color: $white;
    padding: 2rem 5rem;
}

.category-services {
    padding: $main-padding;
}

.sort-buttons {
    display: flex;
    gap: 1rem;
    justify-content: end;

    .filter, .sort-by {
        border: 2px solid $orange;
        list-style-type: none;
    }

    ul.filter, ul.sort-by {
        padding: .5rem 1rem;
        font-family: $h1-font;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.category-servicecards {
    display: block;
}

.category-solo-card {
    gap: 1rem;
    width: 100%;
    max-height: 342px;
}

.category-solo-card img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.category-solocard-text {
    background-color: $green;
    color: $white;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
    display: block;
    text-transform: capitalize;
}

.category-solocard-image {
    max-height: 270px;
    width: auto;
}

.top-row, .bottom-row {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    gap: 1rem;
}

/* ABOUT */
#header-about{
    background-image: url(/images/about/about-header.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 100%;
}
.owner-header {
    background-image: url(/images/background-vector-tires.png);
    background-position: center;
    background-size: cover;
}

.owners-about {
    padding: $main-padding;
    padding-bottom: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-content: center;
}

.aboutthe-owners-text {
    display:block;
}

.about-owners-image {
    max-height: 50%;
    width: auto;
    padding: 0;
    margin: 0;
}

.business-text {
    padding: $main-padding;
    padding-top: 2.5rem;
}
    
.split-paragraph {
    display: flex;
    gap: 5rem;
}

.quotes-background {
    background-color: $green;
    color: $white;
}

.quotes {
    padding: 0 10rem 2.6563rem 10rem;
    color: $white;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.how-contact {
    padding: 5.3125rem 10rem 5.3125rem 0rem;
    display: flex;
    justify-content: center;
}

.contact-business-image {
    max-height: 50%;
    width: auto;
}

/* CONTACT PAGE */

#header-contact {
    background-image: url(/images/contact/contact-header.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 100%;
}

.draft-email {
    font-family: 'Karla';

    .inquiries {
        padding: $main-padding;
        margin: 0 auto;
    }
}


.note-dropper h4 {
    font-style: italic;
}

.note-dropper {
    border: $green 1rem;
    border-top: 2px solid $green;
    border-bottom: 2px solid $green;
    display: block;

    summary {
        padding: .9rem 0;
        font-weight: bold;
        font-style: italic;
    }

    ul {
        padding: 0 1.2rem .9rem 1.7rem;
    }

    li {
        margin-bottom: .8rem;
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.2rem 0;

    label {
        margin: 1rem 0;
    }

    input {
        height: 2.5rem;
        border: 2px solid $green;
    }
}

.message-text {
    width: 100%;
    height: 10.625rem;
    padding: 1rem;
    border: 2px solid $green;
}

.enter-name {
    display: flex;
    justify-content: center;
    gap: 2.5rem;

    .field {
        width: 50%;
    }
}

.agreement-terms {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0 0 1.56rem 0;
}

input:focus, textarea:focus {
    border-color: $orange;
    box-shadow: $black;
}

.faq {
    padding: $main-padding;
    background-color: $green;
    color: $white;
    font-family: 'Karla';

    .faq-questions {
        padding: 2rem 1rem;
        border-bottom: 2px solid $white;
    }

    .bottom {
        border-bottom: none;
    }

    details {
        summary {
            list-style: none;
            position: relative;
            padding-right: 2rem;

            &::-webkit-details-marker {
                display: none;
            }

            &::after {
                content: "+";
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        &[open] {
            summary::after {
                content: "-";
            }
        }
    }
}

.location {
    display: flex;
    padding: $main-padding;
}
