/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&display=swap');

/* —— DESKTOP —— */

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Hammersmith One';
    font-size: 5.75rem;
    text-transform: uppercase;
    color: white;
    text-shadow: black 2.5rem;
}

h2 {
    font-family: 'Hammersmith One';
    font-size: 3rem;
    text-transform: uppercase;
}

h3 {
    font-family: 'Karla';
    font-size: 1.125rem;
    font-weight: 300;
}

h4 {
    font-family: 'Karla';
    font-size: 1rem;
    font-weight: 400;
}

p {
    font-family: 'Karla';
    font-size: .8rem;
    font-weight: 400;
}

li {
    font-family: 'Karla';
    font-size: .8rem;
}

a {
    font-family: 'Hammersmith One';
    font-size: 1rem;
}

a:hover {
    font-weight: bold;
    font-size-adjust: 1rem;
}

a:visited {
    text-decoration: none;
}

nav a li{
    font-weight: 100;
}

/* NAVIGATION */

nav ul{
    background-color: #20352C;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    color: white;
    padding: 1.5rem 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

nav img {
    height: 50px;
    width: auto;
}

/* FOOTER */
.footer {
    background-color: #1D190E;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5rem;
    gap: 2.5rem;
}

.footer-left {
    display: block;
    width: 38.75rem;
    height: auto;
}

.footer-right {
    display: block;

}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    color: white;
    padding: 1.5rem 0;
    margin: 0;
    gap: 3rem;
}

.social-media {
    display: flex;
    gap: 2.5rem;
}

/* HOME */
    /* HERO */
    #header {
        display: flex;
        justify-content: center;
        background-image: url("../../images/home/mgbd-header.jpg");
        background-size: cover;
        height: 100%;
    }

    .divider-tag{
        font-weight: bold;
        text-transform: capitalize;
        padding: 2rem 0;
        display: flex;
        align-items: center;
    }

    .divider-tag::before {
        content: "";
        width: 6rem;
        height: 1rem;
        background: #AE330C;
    }

    .filled-button {
        background: #AE330C;
        font-weight: 700;
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        padding: .5rem;
    }

    /* WORKSHOP */

    #workshop {
        padding: 5.3125rem 10rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-content: center;
    }

    .workshop-text {
        display:block;
    }

    .workshop-images {
        display: block;
    }

    /* OWNERS */
    .owners {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .owners-image {
        width: 58rem;
        height: auto;
    }

    .owners-text {
        background-color: #20352C;
        color: white;
        padding: 2rem 5rem;
    }

    /* SERVICES */
    .ourservices {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-cards {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        justify-content: center;
        gap: 3rem;
    }

    .buyers-section, .services-section{
        padding: 5.3125rem 10rem;
        display: block;
        justify-content: center;
        align-content: center;
    }

    .solo-card {
        background-color: #20352C;
        color: white;
        padding: 1rem;
        display: block;
        justify-content: center;
        flex: 0 0 auto;
        width: 250px;
        max-height: 325px;
    }

    .service-image {
        width: 100%;
        max-height: 193px;
        object-fit: cover;
    }

/* SERVICES PAGE */

#customer-favorites {
    padding: 5.3125rem 10rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-content: center;
}

.customer-text {
    display: block;

}

.small-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.car-inspections {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carinspection-text {
    display: block;
    max-height: 575px;
    width: auto;
    background-color: #20352C;
    color: white;
    padding: 2rem 5rem;
}

.category-servicecards {
    display: flex;
}

.category-solocard-text {
    background-color: #20352C;
    color: white;
    display: block;
}

    